*.class

*.classPath

*.project

*.txt

*.wrl

*.log

*.bat

*.jar

*.xml

*.con

*.properties

*.zip

jgapTest.con


doc\

data\

Output\

bin\**\*

lib\**\*

doc\**\*

data\**\*

Output\**\*

\data\

\Output\





